fastapi==0.115.12
starlette==0.46.2
uvicorn[standard]==0.34.0
sqlmodel==0.0.22
supabase==2.15.0
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
python-dotenv==1.1.0
setuptools==69.5.1
pydantic-settings==2.8.1
pytest==8.3.5
httpx==0.28.1
huggingface_hub==0.30.2
autogluon.tabular==1.2.0
lightgbm==4.5.0
xgboost==2.1.4
ipython==9.2.0
fastprogress==1.0.3
pandas==2.2.3
numpy==1.26.4
apscheduler==3.10.4
